version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      time: "07:30"
      timezone: "Asia/Tokyo"
    open-pull-requests-limit: 3
    groups:
      dev-dependencies:
        dependency-type: development
        update-types: ["major", "patch"]
        patterns: ["*"]
    ignore:
      - dependency-name: "@swc-node/register"
        versions: ["1.9.1"]
